{{{ _editable }}}
<a href="{{ link }}" class="btn btn-icon left-icon btn-fill">
  <svg class="ico">
    <use xlink:href="{{asset 'public/icons/icons.svg#' }}{{ icon.icon }}"></use>
  </svg>
  <span class="btn-text">{{ label }}</span>
</a>