{{{ _editable }}}
<section class="features-section-3 section bg-dark" id="describe">
  <div class="container">
    <div class="row section-separator">

      {{#unless image_on_left}}
        <div class="features-image col-md-6 col-md-push-6">

          {{#if image}}
            <img src="{{img image size='600x0' }}" alt="App Picture" class="img-responsive pull-right">
          {{else}}
            <img src="/public/images/2-phone-right.png" alt="App Picture" class="img-responsive pull-right">
          {{/if}}

        </div>
      {{/unless}}

      {{#if image_on_left}}
        <div class="features-image col-md-6">

          {{#if image}}
            <img src="{{img image size='600x0' }}" alt="App Picture" class="img-responsive pull-left">
          {{else}}
            <img src="/public/images/2-phone-left.png" alt="App Picture" class="img-responsive pull-left">
          {{/if}}

        </div>
      {{/if}}

      <div class="features-content m-t-50 col-md-6{{#unless image_on_left}} col-md-pull-6{{/unless}}">
        <div class="section-header text-left m-b-30">
          <h2 class="section-heading gradient-text-full">{{ title }}</h2>
        </div>

        <div class="detail">
          {{{markdown description }}}
        </div>

        {{#each body}}{{> (lookup . 'component') }}{{/each}}
      </div>
    </div>
  </div>
</section>