{{{ _editable }}}
<div class="feature-item text-center">
  <div class="gradient-border">
    <svg class="ico features-icon gradient-text">
      <use xlink:href="{{asset 'public/icons/icons.svg#' }}{{ icon.icon }}"></use>
    </svg>
  </div>
  <div class="feature-content text-center">
    <h3 class="title">{{ title }}</h3>
    <p>{{ description }}</p>
  </div>
</div>