{{{ _editable }}}
<div class="media">
  <div class="media-left">
    <svg class="ico ico--colored">
      <use xlink:href="{{asset 'public/icons/icons.svg#' }}{{ icon.icon }}"></use>
    </svg>
  </div>
  <div class="media-body">
    <h5 class="title">{{ title }}</h5>
    <p>{{ description }}</p>
  </div>
</div>