{{{ _editable }}}
<section class="features-section-3 section app-swiper-slide" id="screenshots">
  <div class="container">
    <div class="row section-separator">

      <div class="features-content m-t-50 col-md-6">
        <div class="section-header text-left m-b-30">
          <h2 class="section-heading gradient-text-full">{{ title }}</h2>
        </div>

        <div class="detail">
          <p>{{{markdown description }}}</p>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row">
          {{#each screenshots}}
          <div class="col-md-6">
            <img
              data-sizes="auto"
              data-src="{{img source size='300x0' }}"
              data-srcset="{{img source size='300x0' }} 300w,
              {{img source size='600x0' }} 600w,
              {{img source size='900x0' }} 900w" class="lazyload img-responsive" />
          </div>
          {{/each}}
        </div>
      </div>

    </div>

  </div>
</section>